h1, h2{
	
	margin:0px;
	text-align: left;
	letter-spacing: 2px;
	color: #0e71b4;
	font-size: 40px;
}

.container{
	padding-left: 30px;
	background-color:white;
	text-align: left;
}


input[type=submit], input[type=file] {
width: 49.5%;
  background-color: #0e71b4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type=submit]:hover, input[type=file]:hover {
width: 49.5%;
  background-color: #00c1ea;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}



.some-page-wrapper {
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


div#result{
	color: #696969;
	letter-spacing: 1px;
}