
h1, h2{
	
	margin:0px;
	text-align: left;
	letter-spacing: 2px;
	color: #0e71b4;
}

h1{
	
	font-size: 40px;
}

.one {
  padding-left: 1em;
  text-color: white;
   display:inline; 
}


.some-page-wrapper {
  background-color: white;
  margin-top:-10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 10px;
}

.blue-column {
   padding-left: 30px;
}


.one {
  padding-left: 1em;
   display:inline; 
}

.green-column {
	position: relative;

   padding-left: 30px;
   height: 320px;
}

.result{
	margin-left: 100px;
}

.result > img{
	position: absolute;
    bottom: -10px;
	left: 180px;
}

.sfondo{
	width: 450px;
}

p{
	text-align: justify;
	color: #696969;
	letter-spacing: 1px;
	width: 500px;
}


input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit], input[type=button] {
	width: 49.5%;
  background-color: #0e71b4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type=submit]:hover, input[type=button]:hover {
	width: 49.5%;
  background-color: #00c1ea;
  border-color: #00c1ea;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}



p > a{
	background-color: #0e71b4;
  color: white;
  text-align: center;
  padding: 5px 4px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}


p > a:hover {
  background-color: #00c1ea;
  color: white;
  border-radius: 4px
}



