
h1, h2{
	
	margin:0px;
	text-align: left;
	padding-left: 30px;
	letter-spacing: 2px;
	color: #0e71b4;
}

h1{
	
	font-size: 40px;
}

.blue-column > p {
	text-align: justify;
	padding-left: 30px;
	color: #696969;
	letter-spacing: 1px;
	width: 500px;
}


.some-page-wrapper {

  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  
}

.green-column > img {
	width: 650px;

}