body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}



.wave-container > svg {
  display: block;
}

.wave-container {
  position: relative;
  background: #0e71b4;
  color: #000;
  text-align: center;
  overflow: hidden;
}

.topnav {
	
	margin-top:10px;
	margin-right:10px;
  overflow: hidden;
  font-weight: bold;
}

.topnav img{
	float: left;
	padding: 14px 30px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px
}

.topnav a:hover {
  background-color: #00c1ea;
  color: white;
  border-radius: 25px
}

.topnav a.active {
  background-color: #00c1ea;
  color: white;
}

.topnav-right {
	  float: right;
}